body {
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 70px;
    background-color: darkorange;
    box-shadow: 0px 4px 6px #aeb3be;
}

.center-box {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.left-logo {
    width:15%;
    padding-top: 60px;
}

.logo-image {
    width: 100px;
}

.right-nav {
    display: flex;
    width: 85%;
    justify-content: space-around;
}

.navlink {
    text-decoration: none;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 115%;
}

.navlink:hover {
    text-decoration: underline;
    color: #faf994;
    font-family: Lobster, cursive;
}