body {
    padding: 0;
    margin: 0;
    background: url("../Media/thai-temple.jpg") no-repeat center center fixed;
    background-size: cover;
}

.header {
    z-index: 2;
    border-bottom: white 2px solid;
    position: fixed;
    display: flex;
    width: 100%;
    height: 80px;
    box-shadow: 0 6px 8px #2b2b2b;
    background-color: #35231a;
    justify-content: center;
}

.center-box {
    display: flex;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo-left {
    margin: -0.5% 0 0 0;
    align-content: center;
}

.logo-image {
    width: 70px;
}

.logo-image:hover {
    width: 75px;
}

.nav-right {
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.header-link {
    text-decoration: none;
    color: white;
    font-family: 'Playball', cursive;
    font-size: 22px;
}

a:hover {
    text-decoration: underline;
    color: #faf994;
}

.container {
    width: 80%;
    margin: 0 10% 0 10%;
    padding: 7% 0 0 0;
    flex-direction: column;
    justify-content: center;
}

.banner-main, .banner-menu {
    padding: 20%;
    display: flex;
    border: solid 3px white;
    border-radius: 10px;
    flex-direction: column;
    background: url("../Media/kaeng-kheaw-waan.jpg") no-repeat center center;
    background-size: cover;
}

.banner-main {
    background: url("../Media/kaeng-kheaw-waan.jpg") no-repeat;
    background-size: cover;
}

.banner-menu {
    background: url("../Media/menu.jpg") no-repeat center center;
    background-size: cover;
}

.biz-name, .title-menu {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: Playball, cursive;
    border-top: white double 3px;
    border-bottom: white double 3px;
}


.subtitle {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 2% 0 0 0;
    font-size: 25px;
    font-family: Questrial, cursive;
    color: white;
}

.popular {
    display: flex;
    margin: 5% 0 0 0;
    flex-direction: column;
    background-color: transparent;
}

.title {
    display: flex;
    padding: 3% 0;
    border: solid white 3px;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #35231a;
}

.title span {
    font-family:Playball, cursive;
    font-size: 40px;
    color: white;

}
.pop-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #35231a;
    border: solid 3px white;
    border-radius: 10px;
    margin: 5% 0;
    font: 18px 'Kanit', sans-serif;
}

.pop-img {
    padding: 4% 0 0 0;
}

.pop-img img {
    max-width: 375px;
    max-height: 375px;
    width: auto;
    height: auto;
    border-radius: 50%;
    border: solid white 3px;
}

.pop-descrip {
    width: 80%;
    display: flex;
    flex-direction: column;
    color: white;
}

.pop-descrip h2 {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.pop-descrip p {
    font-size: 16px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    border-top: solid 2px white;
    height: 150px;
    background: #35231a;
    justify-content: center;
}

.nav-left {
    width: 75%;
    display: flex;
    font-size: 80%;
    justify-content: space-between;
}

.footer-link {
    text-decoration: none;
    color: white;
    font-family: 'Playball', cursive;
    font-size: 18px;
}

.footer-link:hover {
    text-decoration: underline;
    color: #faf994;
}

.social-right {
    width: 25%;
    display: flex;
    padding: 0 0 0 10%;
    justify-content: space-between;
}

.social-link img {
    display: flex;
    width: 45px;
    height: auto;
    justify-content: space-between;
}

.info {
    border: solid 3px white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: #35231a;
    margin: 5% 0 5% 0;
    padding: 15%;

}

.info iframe {
    border: solid 1px white;
}